@charset "UTF-8";

@import 'media';
@import 'fonts';
@import 'colors';
@import 'card__darken';
@import 'card__info_type_commit';
@import 'card__info';
@import 'card__intro';
@import 'card__pic-box';
@import 'card__pic';
@import 'card__tech';
@import 'card__title';
@import 'card';
@import 'page-title_size_lg';
@import 'page-title_size_sm';
@import 'page-title_type_card';
@import 'page-title_type_commit';
@import 'page-title';


* {
    margin: 0;
    padding: 0;
}

html
{
    scroll-behavior: smooth;
}

body 
{
    color: #fff;
    font-family: $formular;
    background: $turquoise_dark;
}

a 
{
    color: #fff;
    text-decoration: none;
}

.title 
{
    font-weight: 200;
    margin:0 0 20px 0;
    text-align: center;
}

.position 
{
    margin: 0 0 10px 0;
}

.icon-down 
{
    position: absolute;
    bottom: 20px;
    left: 50%;

    box-sizing: border-box;
    padding: 20px;
    margin-right: -50%;

    animation: air 3s ease-in-out infinite;
    text-decoration: none;
    color: #fff;
}

.turquoise 
{
    color: $turquoise;
    font-weight: 500;
}

.turquoise-dark 
{
    color: $turquoise_dark;
}

.grey 
{
    color: $grey;
    font-weight: $thin;
}

.frog 
{
    position: absolute;
    right: 100px;
    bottom: 100px;
    width: 100px;
    z-index: -1;

    @media screen and (max-width: $desktop_m) 
	{
        right: 70px;
        bottom: 70px;
        width: 70px;
    }
    
    @media screen and (max-width: $tablet) 
	{
        right: 52px;
        bottom: 52px;
        width: 52px;
	}
}

.intro 
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* .wrapper 
{
    max-width: 1280px;
    width: 70%;
    padding: 100px 0 0 0;
    margin: 0 auto;

	@media screen and (max-width: $tablet) 
	{
		width: 95%;
	}
} */


.avatar-container 
{
    overflow: hidden;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
}

.avatar 
{
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    transition: all .2s;
}

.container 
{
    max-width: 1280px;
    margin: 0 auto;
}

.container:not(:last-of-type) 
{
    border-bottom: 1px solid $turquoise;
    padding: 100px 0;
}

.container:last-of-type 
{
    padding: 100px 0 0 0;
}

.about-container 
{
    text-align: justify;
    margin: 100vh auto 0 auto;
}

.about 
{
    margin: 0 auto;
}

.about + .about
{
    margin-top: 16px;
}

p 
{
    max-width: 640px;
}

.growup-wrapper 
{
    max-width: 80%;
    margin: 0 auto;
}

.growup-row 
{
    display: flex;
}

.growup-left-col 
{
    max-width: 160px;
    width: 100%;
    padding: 0 0 0 100px;
    text-align: right;
}

.growup-right-col 
{
    max-width: 660px;
    width: 100%;
    margin: 0 20px;
}

.growup-right-col-wrapper 
{
    position: relative;
}

.growup-text-wrapper 
{
    padding: 0 0 90px 40px;
}

.timeline-wrapper 
{
    width: 16px;
    position: relative;
    display: table-cell;
}

.growup-title 
{
    margin: 0 0 1em 0;
}

.timeline-circle-wrapper 
{
    position: absolute;
}

.timeline-circle 
{
    position: absolute;
    top: 4px;
    width: 12px;
    height: 12px;
    border: 2px solid $white;
    border-radius: 50%;
}

.timeline-line 
{
    background: $white;
    width: 2px;
    position: absolute;
    left: 7px;
    top: 28px;
    right: 0;
    bottom: 4px;
}

.cards 
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    grid-gap: 16px;
    margin: 64px auto;
    max-width: 1232px;
    padding: 0 40px;

    @media screen and (max-width: $desktop) 
    {
        margin: 32px auto;
        grid-gap: 8px;
    }

    @media screen and (max-width: $tablet) 
    {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: $mobile) 
    {
        grid-template-columns: 1fr;
        margin: 32px auto 12px auto; 
    }
}  

.contacts-container 
{
    margin: 30px auto;
    text-align: center;
}

.icon 
{
    font-size: 35px;
    transition: all 0.3s;
    margin: 5px 10px;

    &:hover
    {
        color: $medium_grey;
    }
}

.phone 
{
    font-size: 20px;
}


@keyframes air {
    50% {
        bottom: 40px;
    }

    100% {
        bottom: 20px;
    }
}