.card 
{
    background: $dark_grey;
    line-height: 0;
    color: #fff;
    text-decoration: none;
    max-width: 400px;
    border-radius: 10px;
    font-family: 'Formular', Arial, Helvetica, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 0 auto;

    &:hover .card__darken
    {
        display: none;
    }

    @media screen and (max-width: $desktop)
    {
        max-width: 336px;
    }
}