.card 
{
    position: relative;
    overflow: hidden;

    max-width: 400px;
    margin: 0 auto;

    text-decoration: none;
    line-height: 0;
    font-family: 'Formular', Arial, Helvetica, sans-serif;

    color: #fff;

    background: $dark_grey;

    border-radius: 10px;    

    &:hover .card__darken
    {
        opacity: 0;
    }

    @media screen and (max-width: $desktop)
    {
        max-width: 336px;
    }
}