.card__info
{
    display: flex;
    justify-content: space-evenly;
    
    padding: 20px 24px 54px 24px;

    @media screen and (max-width: $desktop)
    {
        padding: 16px 16px 48px 16px;
    }
}