.icon-down 
{
    position: absolute;
    bottom: 20px;
    left: 50%;

    box-sizing: border-box;
    padding: 20px;
    margin-right: -50%;

    text-decoration: none;

    color: $white;

    animation: air 3s ease-in-out infinite;
}